.background-container {
  height: 100%;
  display: flex;
  background-image: url("src/assets/images/razor.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  height: auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

